certifi==2022.12.7
distlib==0.3.6
filelock==3.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
pipenv==2022.4.8
platformdirs==2.4.0
typing_extensions==4.1.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
zipp==3.6.0
