<!doctype html>
<html>
 
<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>
 
<body>
 
    <div class="header">
        <h2>
           Weekly Weather Forecast 
        </h2>
    </div>
 
    <div id="AirTemp" class="chart">
    </div>

    <div id="SoilTemp" class="chart">
    </div>

    <div id="SoilMoisture" class="chart">
    </div>

    <div id="RainfallBool" class="chart">
    </div>
 
    <div id="Precip" class="chart">
    </div>

    <div id="RelativeHumidity" class="chart">
    </div>

    <div id="DewPoint" class="chart">
    </div>

    <div id="MSLPressure" class="chart">
    </div>

    <div id="Pressure" class="chart">
    </div>

    <div id="WindSpeed" class="chart">
    </div>

    <div id="CloudCover" class="chart">
    </div>

</body>
 
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        var graphs = {{airTempGraph | safe}};
        Plotly.plot("AirTemp",graphs);
    </script>

    <script type="text/javascript">
        var graphs = {{soilTempGraph | safe}};
        Plotly.plot('SoilTemp',graphs,{});        
    </script>

    <script type="text/javascript">
        var graphs = {{soilMoistureGraph | safe}};
        Plotly.plot('SoilMoisture',graphs,{}); 
    </script>

    <script type="text/javascript">
        var graphs = {{rainBoolGraph | safe}};
        Plotly.plot('RainfallBool',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{precipGraph | safe}};
        Plotly.plot('Precip',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{relativeHumidityGraph | safe}};
        Plotly.plot('RelativeHumidity',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{dewPointGraph | safe}};
        Plotly.plot('DewPoint',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{mslPressureGraph | safe}};
        Plotly.plot('MSLPressure',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{pressureGraph | safe}};
        Plotly.plot('Pressure',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{windSpeedGraph | safe}};
        Plotly.plot('WindSpeed',graphs,{});
    </script>

    <script type="text/javascript">
        var graphs = {{cloudCoverGraph | safe}};
        Plotly.plot('CloudCover',graphs,{});
    </script>
 
</html>

