<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

		<script>src='js/jquery.js'</script>
		<script>src='js/script_blank.js'</script>

		<style>
			#assetMap { height: 1080px; }
		</style>
		<title>huc map</title>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css"/>
	</head>
	<body>
		<!--<h1>This is the map</h1>-->

		<div id="assetMap"></div>

		<script>
			const queryString = window.location.search;
			//console.log(queryString);
			const urlParams = new URLSearchParams(queryString);
			//const cid = urlParams.get('cid').toString()
			const lat = urlParams.get('lat').toString()
			const lon = urlParams.get('lon').toString()
			//console.log([lat, lon]);
			const mymap = L.map('assetMap').setView([lat , lon], 10);
			const attribution = 'Rendered by AGRALOGICS using ESRI & GeoEye Basemaps';
			const tileUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'
			//'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
			const tiles = L.tileLayer(tileUrl, {attribution});
			tiles.addTo(mymap);

			/*
			// Initialise the FeatureGroup to store editable layers
			var drawnItems = new L.FeatureGroup();
			mymap.addLayer(drawnItems);


			// Initialise the draw control and pass it the FeatureGroup of editable layers
			var drawControl = new L.Control.Draw({
				edit: {
					featureGroup: drawnItems
				}
			});
			mymap.addControl(drawControl);
			
			
			mymap.on('draw:created', function (e) {
				var type = e.layerType,layer = e.layer;
			
				if (type === 'marker') {
					layer.bindPopup('A popup!');
				}
				drawnItems.addLayer(layer);
			});
			*/

			var editableLayers = new L.FeatureGroup();
			mymap.addLayer(editableLayers);

			var drawPluginOptions = {
			  draw: {
			    polygon: {
			      allowIntersection: false, // Restricts shapes to simple polygons
			      drawError: {
			        color: '#e1e100', // Color the shape will turn when intersects
			        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
			      },
			      shapeOptions: {
			        color: '#97009c'
			      }
			    },
			    // disable toolbar item by setting it to false
			    polyline: false,
			    marker: false,
			    },
			  edit: {
			    featureGroup: editableLayers, //REQUIRED!!
			    remove: false
			  }
			};

			// Initialise the draw control and pass it the FeatureGroup of editable layers
			var drawControl = new L.Control.Draw(drawPluginOptions);
			mymap.addControl(drawControl);

			var editableLayers = new L.FeatureGroup();
			mymap.addLayer(editableLayers);

			mymap.on('draw:created', function(e) {
			  var type = e.layerType,
			    layer = e.layer;

			  if (type === 'marker') {
			    layer.bindPopup('A popup!');
			  }

			  editableLayers.addLayer(layer);
			});
			async function getAssets(cid) {
				const api_url = 'http://127.0.0.1:5000/assets?cid='+cid;
				const response = await fetch(api_url);
				const FeatureCollection = await response.json();

				const gj = L.geoJSON(FeatureCollection);
				gj.addTo(mymap);
				mymap.fitBounds(gj.getBounds());
			}
			async function getHUC(lat,lon) {
				const api_url = 'http://127.0.0.1:5000/huc?lat='+lat+'&lon='+lon;
				const response = await fetch(api_url);
				const FeatureCollection = await response.json();

				const gj = L.geoJSON(FeatureCollection);
				gj.addTo(mymap);
				mymap.fitBounds(gj.getBounds());
			}
			async function getCounty(lat,lon) {

				const api_url = 'http://127.0.0.1:5000/county?lat='+lat+'&lon='+lon;
				var response = await fetch(api_url);
				console.log(response);
				const FeatureCollection = await response.json();

				const gj = L.geoJSON(FeatureCollection);
				gj.addTo(mymap);
				mymap.fitBounds(gj.getBounds());
			}

			async function getDepth(lat,lon) {

				const api_url = 'http://127.0.0.1:5000/countyDepth?lat='+lat+'&lon='+lon;
				const response = await fetch(api_url);
				//console.log(response);
				const FeatureCollection = await response.json();

				const gj = L.geoJSON(FeatureCollection);
				gj.addTo(mymap);
				mymap.fitBounds(gj.getBounds());
			}

			async function getSlope(lat,lon) {

				const api_url = 'http://127.0.0.1:5000/countySlope?lat='+lat+'&lon='+lon;
				const response = await fetch(api_url);
				//console.log(response.json());
				const FeatureCollection = await response.json();

				const gj = L.geoJSON(FeatureCollection);
				gj.addTo(mymap);
				mymap.fitBounds(gj.getBounds());
			}

			//Call the function with a customerid
			//getAssets('ALL');

			getHUC(lat,lon);

			//getCounty(lat,lon);

			//getSlope(lat,lon);

		</script>
	</body>
</html>